@import "./color.scss";

// navbar

.navIcon{
    --bs-navbar-toggler-icon-bg: url("./../img/icons/burger-icon.png");
}

.navCloseIcon{
    --bs-navbar-toggler-icon-bg: url("./../img/icons/close-icon.png");
    @include media-breakpoint-down(md) {
        background-color: $dark-gray !important;
    }
}

.myNav{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding-top: 20px;
    --bs-navbar-toggler-border-color: none ;
    transition: all 0.5s;
    @include media-breakpoint-down(md) {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    a{
        color: $white;
    }
    a:hover{
        color: $silver;
    }
    #logo{
        color: $white;
        font-size: small;
    }
    select{
        background-color: transparent;
        font-size: small;
        font-weight: 800;
        max-width: 60px;
        padding: 5px;
        margin: 10px;
        align-self: center;
        @include media-breakpoint-up(md) {
            margin-left: 25px;
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 40px;
        }
    }
    option{
        color: black;
        font-weight: 200;
        font-size: 18px;
    }
}

.navColor{
    background-color: transparent;
}

.navColorScroll{
    background-color: rgba(0, 0, 0, 0.8);;
}

.navLink{
    text-decoration: none;
    text-align: center;
    font-size: small;
    padding: 5px;
    margin: 10px;
}

// hero

.hero{
    position: fixed;
    height: -webkit-calc(100vh);
    height: -moz-calc(100vh);
    height: calc(100vh);
    background-image: url("../img/image/blue-background.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @include media-breakpoint-up(lg) {
    }
}

.heroOnScroll{
    position: fixed;
    height: -webkit-calc(100vh);
    height: -moz-calc(100vh);
    height: calc(100vh);
    background-color: $black;
}


.heroTitle{
    font-size: 45px;
    font-weight: bolder;
    color: $silver;
    text-align: center;
    @include media-breakpoint-up(md) {
        font-size: 60px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 70px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 90px;
    }
}

.heroButton{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    top: 75px;
    background-color: transparent;
    border: none;
    background-image: url("../img/icons/down-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    animation: arrowAimation 1s;
    animation-iteration-count: infinite;
}

@keyframes arrowAimation {
    from {background-size: 25px;}
    to {background-size: 35px;}
}

.heroButton:hover{
    background-size: 40px !important;
}

// aboutPage

.blackScrollBack{
    background-color: black;
}

.positionScrollPage{
    position: relative;
    top: -webkit-calc(100vh);
    top: -moz-calc(100vh);
    top: calc(100vh);
    background-color: $black;
    height: -webkit-calc(100vh);
    height: -moz-calc(100vh);
    height: calc(100vh);
}

.aboutBack{
    position: relative;
}

.aboutBox{
    background-color: $black;
    width: 100%;
    padding: 40px;
    border: none;
    @include media-breakpoint-up(md) {
        height: -webkit-calc(100vh);
        height: -moz-calc(100vh);
        height: calc(100vh);
        width: 70%;
        padding-right: 180px;
        background-image: url("../img/image/about-bg-top-right.png"), url("../img/image/about-bg-down-left.png"),;
        background-position: top right, bottom left;
        background-repeat: no-repeat;
        background-size: 30%, 60%;
        animation: aboutFirstAnimation 3s;
        animation-iteration-count: infinite;
    }
}

@keyframes aboutFirstAnimation {
    0%   {background-size: 30%, 55%;}
    50%  {background-size: 35%, 60%;}
    100% {background-size: 30%, 55%;}
}

.aboutTitle{
    color: $white;
    font-weight: 200;
    font-size: 30px;
}

.aboutContent{
    color: $silver;
    font-weight: 400;
    font-size: 20px;
}

.skillsBox{
    background-color: $white;
    width: 100%;
    padding: 40px;
    background-image: url("../img/image/about-bg-sm.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    border: none;
    animation: aboutSecondAnimationMobile 3s;
    animation-iteration-count: infinite;
    @include media-breakpoint-up(md) {
        height: -webkit-calc(100vh);
        height: -moz-calc(100vh);
        height: calc(100vh);
        width: 30%;
        background-image: none;
    }
}

@keyframes aboutSecondAnimationMobile {
    0%   {background-size: 50% 100%;}
    50%  {background-size: 60% 100%;}
    100% {background-size: 50% 100%;}
}

.skillsTitle{
    color: $black;
    font-weight: 300;
    font-size: 30px;  
    text-align: right;
}

.skillsContent{
    color: $black;
    margin-bottom: 3px !important;
    text-align: right;
    font-weight: 600;
    font-size: 40px;
}

// MyWork

.workTitleBox{
    position: relative;
    padding: 30px;
    background-color: $black;
    @include media-breakpoint-up(md) {
        background-color: black;
    }
}

.workTitle{
    color: $dark-gray;
    font-weight: 700;
    font-size: 30px; 
}

.workSubTitle{
    color: $white;
    font-weight: 300;
    font-size: 30px; 
    @include media-breakpoint-up(md) {
        font-size: 40px; 
    }
}

.overlay img {
    max-height: initial;
    overflow: hidden;
}

.overlay:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;
}

.itemsContainer {

    .itemsTitle {
        color: $white;
        font-weight: 700;
        font-size: 30px; 

        @include media-breakpoint-up(md) {
            font-size: 40px; 
        }
    }

    .itemsDescription{
        display: none;
        text-align: start;
        @include media-breakpoint-up(md) {
            display: block;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    hr {
    width: 100%;
        @include media-breakpoint-up(md) {
            width: 60%;
            position: relative;
            top: -30px;
            transition: top 0.5s;
        }
    }

    .visitLink {   
        text-decoration: none;
        color: $white;  
        @include media-breakpoint-up(md) {
            position: relative;
            top: -30px;
            transition: top 0.5s;
        }
    }

    .visitLink:hover {
        color: $silver; 
    }

}

@include media-breakpoint-up(md) {
    .itemsContainer:hover {

        .itemsDescription{
            opacity: 1;
            transition: opacity 1s;
        }
    
        .visitLink {
            top: 0px;
            transition: top 0.5s;
        }
    
        hr {
            top: 0px;
            transition: top 0.5s;
        }
    }    
}

// contactPage

.contactBack{
    position: relative;
}

.contactBox1{
    background-color: $black;
    width: 100%;
    border: none;
    @include media-breakpoint-up(md) {
        height: -webkit-calc(100vh);
        height: -moz-calc(100vh);
        height: calc(100vh);
        width: 50%;
    }
}

.contactBox2{
    background-color: $black;
    width: 100%;
    border: none;

    @include media-breakpoint-up(md) {
        height: -webkit-calc(100vh);
        height: -moz-calc(100vh);
        height: calc(100vh);
        width: 50%;
    }
}

.contactLabel{
    color: $dark-gray;
    font-weight: 800;
    font-size: 20px; 
}

.contactTitle{
    color: $white;
    font-weight: 300;
    font-size: 25px;
    @include media-breakpoint-up(lg) {
        font-size: 35px; 
    }
}

.contactDescription{
    color: $silver;
    font-weight: 400;
    font-size: 15px; 
}

.emailLink{
    text-decoration: none;
    svg{
        fill: $white;
        width: 20px;
        transition: fill 0.2s;
        @include media-breakpoint-up(lg) {
            width: 25px;
        }
    }
    p{
        margin-top: 15px;
        margin-left: 10px;
        color: $white;
        font-weight: 400;
        font-size: 18px; 
        transition: color 0.2s;
        @include media-breakpoint-up(md) {
            margin-top: 12px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 20px;
        }
    }
}

.emailLink:hover{
    svg{
        fill: $dark-gray;
        transition: fill 0.2s;
    }
    p{
        color: $dark-gray;
        transition: color 0.2s;
    }
}

.myLabel{
    color: $dark-gray;
    font-weight: 400;
    font-size: 18px; 
    margin-bottom: 5px;
    margin-top: 25px;
    @include media-breakpoint-down(md) {
        margin-left: 20px;
    }
}

.myForm{
    background-color: $dark-gray !important;
    @include media-breakpoint-down(md) {
        margin-left: 20px;
    }
}

input, select, textarea{
    color: $white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.nameForm{    
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;

}

.nameNotValid{    
    background-image: url("./../img/icons/user.png");
}

.nameValid{    
    background-image: url("./../img/icons/user-green.png");
    z-index: 10;
}

.emailForm{
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.emailNotValid{    
    background-image: url("./../img/icons/email.png");   
}

.emailValid{    
    background-image: url("./../img/icons/email-green.png");
}

.sendButton{
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
}

.sendButton:hover{
    background-color: $white !important;
    color: $dark-gray;
    border-radius: 15px;
    transition: all 0.3s;
}

.closeModalButton{
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
}

.closeModalButton:hover{
    background-color: $black !important;
    color: $white;
    border-radius: 13px;
    transition: all 0.3s;
}

// footer

.footerContainer{
    position: relative;
    background-color: $black;
    padding-top: 50px;

    hr{
        border-top: 1.5px solid $silver;
        width: 80%;
    }

    a{
        text-decoration: none;
        color: $silver;
        font-size: 15px;
        margin: 10px;
        padding: 10px;
        @include media-breakpoint-up(md) {
            margin: 20px;
        }
        @include media-breakpoint-up(lg) {
            margin: 30px;
        }
    }

    a:hover{
        text-decoration: underline;
    }

    .footerButton{
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        background-size: 29px 29px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: $black;
        margin-left: 20px;
        margin-right: 20px;
    }

    .footerButton:hover{
        border: 2px solid white;
    }

    .linkedin{
        background-image: url("./../img/icons/linkedin-icon.png");
    }

    .github{
        background-image: url("./../img/icons/github-icon.png");
    }

    .discord{
        background-image: url("./../img/icons/discord-icon.png");
    }

}